
  .welcome-box {
    text-align: center;
    font-size: 1.5em;
  }
  
  @keyframes slideInBox {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  h2,
  h3 {
    color: #2980b9;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
  
  p,
  li {
    color: #2c3e50;
    margin: 10px 0;
  }
  
  ul {
    padding-left: 20px;
  }
  
  .info {
    display: flex;
    justify-content: center;
  }
  
  .info a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .info a:hover {
    background-color: #2980b9;
  }
  
  #menu-toggle {
    display: none;
  }

  .campus-col{
    flex-basis: 32%;
    border: solid grey;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
  }
  .campus-col img{
    width: 100%;
    height: auto;
    display: block;
  }

  .layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
  }
  .layer:hover{
    background: rgba(226,0,0,0.7);
  }
  .layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
  
  }
  .layer:hover h3{
    bottom: 49%;
    opacity: 1;
  
  }

  .features{
    padding: 20px;
    background-color: rgb(254, 248, 229);
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }

  .feature-content-box{
    text-align: center;
    background-color: #ecf0f1;
    color: #f5f7b4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 1500px;
    animation: slideInBox 1s forwards;  }

  
  @media (max-width: 768px) {
    .nav-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .menu-icon {
      display: block;
      color: #ecf0f1;
      font-size: 24px;
    }
  
    nav .menu {
      display: none;
      flex-direction: column;
      width: 100%;
    }
  
    nav .menu a {
      width: 100%;
      text-align: left;
    }
  
    #menu-toggle:checked + .menu {
      display: flex;
    }
  
    .content-box {
      padding: 10px;
      margin: 10px;
    }
  
    .info {
      flex-direction: column;
    }
  
    .info a {
      margin-bottom: 10px;
    }
  
    .welcome-box {
      font-size: 1.2em;
    }
  }
  