/* General styles */
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.nav-container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
}

.logo h1 {
    color: #fff;
    margin: 0;
}

/* Navigation styles */
nav .menu {
    display: flex;
    align-items: center;
}

nav .menu a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

nav .menu a:hover {
    background-color: #575757;
}

nav .dropdown,
nav .dropdown1 {
    position: relative;
    display: inline-block;
}

nav .dropdown-content,
nav .dropdown1 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

nav .dropdown-content a,
nav .dropdown1 .dropdown-content p {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

nav .dropdown-content a:hover,
nav .dropdown1 .dropdown-content p:hover {
    background-color: #575757;
}

nav .dropdown:hover .dropdown-content,
nav .dropdown1:hover .dropdown-content {
    display: block;
}

/* Bargraph dropdown form styles */
.dropdown-content form {
    padding: 1rem;
    color: #fff;
}

.dropdown-content label {
    color: #fff;
}

.dropdown-content select,
.dropdown-content button {
    padding: 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
}

.dropdown-content button {
    background-color: #63e6be;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-content button:hover {
    background-color: #51c7a5;
}

/* Logout button styles */
.logout-form .button {
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-form .button:hover {
    background-color: #ff4d4d;
}

nav a[href="/logout"] {
    background-color: #333;
    padding: 0;
}

nav a[href="/logout"] h2 {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav a[href="/logout"] h2 img {
    margin-left: 10px;
}

a.add-button {
    display: inline-block;
    text-align: right;
    margin-right: 20px; /* Adjust this value to control the right margin */
    text-decoration: none;
  }
  
  a.add-button h2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }
  
  a.add-button img {
    display: block;
    height: 50px;
    width: 50px;
    border: none; /* Remove border if any */
    padding: 5px; /* Adjust padding around the image */
    transition: transform 0.3s ease; /* For smooth scaling effect */
  }
  
  a.add-button img:hover {
    transform: scale(1.1); /* Scale image on hover for effect */
  }