<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap">
    <link rel="stylesheet" href="../static/admin.css">
    <link rel="stylesheet" href="../static/home.css">
    <script src="https://kit.fontawesome.com/14dea2b7a9.js" crossorigin="anonymous"></script>
    <script src="static/hompage.js"></script>

    <!-- <link rel="stylesheet" href="../static/userlist.css"> -->
    <title>List View</title>
</head>
<body>
    <header id="header">
        <div class="nav-container">
          <div class="logo">
            <h1>DataSys</h1>
          </div>
          <nav>
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="menu-icon"><i class="fa fa-bars"></i></label>
            <div class="menu">
                <a href="/home">Home</a>
              {% if role == 'admin' %}
              <a href="/intro">Intro</a>
              <a href="/userlist">Users</a>
              <a href="/admin">Data</a>
              <a href="/messageview">Message</a>
              <div class="dropdown">
                <a href="#">Analysis</a>
                <div class="dropdown-content">
                  <a href="/piechart"><strong>Distribution Pie Chart</strong></a>
                  <a href="/reasonpiechart"><strong>Reason Pie Chart</strong></a>
                  <a href="/datasummary"><strong>Data Summary</strong></a>
                </div>
              </div>
              {% endif %}
              {% if role == 'user' %}
              <a href="/data">Data</a>
              <div class="dropdown">
                <a href="#">Services</a>
                <div class="dropdown-content">
                  <a href="/dataform"><strong>Data Form</strong></a>
                </div>
              </div>
              {% endif %}
              <form action="/logout" method="post" class="logout-form">
                <button type="submit" class="button">Logout</button>
              </form>
            </div>
          </nav>
        </div>
      </header>
    <main>
        <section id="search-section">
            <form action="/search" method="GET" id="searchForm">
                <input type="text" name="query" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
        </section>
        <section id="data-section">
            <h1>Data</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Issuedate</th>
                        <th>Employeed</th>
                        <th>Education</th>
                        <th>Abroad</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item[1] }}</td>
                            <td>{{ item[2] }}</td>
                            <td>{{ item[3] }}</td>
                            <td>{{ item[4] }}</td>
                            <td>{{ item[5] }}</td>
                            <td>{{ item[6] }}</td>
                            <td>
                                <a href="{{ url_for('update', item_id=item[0]) }}" class="action-button update">Update</a>
                                <a href="{{ url_for('delete', item_id=item[0]) }}" class="action-button delete">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2 style="margin: 5rem;">Total number of records: {{total}}</h2>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Company Name. All rights reserved.</p>
    </footer>
</body>
</html>
