{% extends "base.html" %}

{% block title %}Form{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='dataview.css') }}">
    
    <h1>Data</h1>
    <div class="card-container">
        {% for item in items %}
            <div class="card">
                <h2>{{ item[1] }}</h2>
                <p><strong>Gender:</strong> {{ item[2].capitalize()  }}</p>
                <p><strong>Issuedate:</strong> {{ item[3] }}</p>
                <p><strong>Employeed:</strong> {{ item[4].capitalize()  }}</p>
                <p><strong>Education:</strong> {{ item[5].capitalize()  }}</p>
                <p><strong>Abroad:</strong> {{ item[6].capitalize()  }}</p>
                <button class="action-button update"><a href="{{ url_for('update', item_id=item[0]) }}">Update</a></button>
            </div>
        {% endfor %}
    </div>

<h2>Total no of data={{total}}</h2>
{% endblock %}