{% extends "base.html" %}

{% block title %}Form{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

<body class="mainhome">
  <div id="main">

    <div id="welcomeBox" class="content-box welcome-box">
      <h2>Welcome, {{name}}!</h2>
      <div class="main-content">
        <div class="content">
          <h2>Literacy rate: {{literacy}}%</h2>
        </div>
        <a href="/data">
          <div class="content">
            <h2>Total no of people: {{total}}</h2>
          </div>
        </a>
        <a href="/piechart?chart=abroad">
          <div class="content">
            <h2>No of people in abroad: {{abroad}}</h2>
          </div>
        </a>
        <a href="/piechart?chart=education">
          <div class="content">
            <h2>No of people uneducated: {{uneducated}}</h2>
          </div>
        </a>
        <a href="/piechart?chart=employment">
          <div class="content">
            <h2>No of people unemployeed: {{unemployeed}}</h2>
          </div>
        </a>
      </div>
    </div>

    <div id="aboutBox" class="content-box">
      <h2>About Our System</h2>
      <p>
        Welcome to our cutting-edge Digital Data Collection System, where
        precision meets efficiency. Designed to streamline your data gathering
        process, our system offers seamless integration, real-time analytics,
        and robust security features. Whether you're conducting surveys,
        research, or fieldwork, our solution ensures accurate and reliable
        data capture, helping you make informed decisions with confidence.
        Embrace the future of data collection today!
      </p>
    </div>

    <div id="keyFeaturesBox" class="feature-content-box">
      <h2>Our Key Features</h2>
      <div class="features">
        <div class="campus-col">
          <h3>Data Collection</h3>
          <img src="static/datacoll.jpg" alt="datacoll">
          <div class="layer">
            <h3>Data collection is very important </h3>
          </div>
        </div>

        <div class="campus-col">
          <h3>Data Analysis</h3>
          <img src="static/dataana.jpeg" alt="data analysis">
          <div class="layer">
            <h3> Data analysis is very important</h3>
          </div>
        </div>
        <div class="campus-col">
          <h3>Data Summary</h3>
          <img src="static/datasum.jpg" alt="data summary">
          <div class="layer">
            <h3>Data summary is very important </h3>
          </div>
        </div>
      </div>
    </div>

    {% if role == 'user' %}
    <div id="messageBox" class="content-box">
      <h2>Message</h2>
      <div class="info">
        <a href="/message">Message</a>
      </div>
    </div>
    {% endif %}
  </div>
  {% endblock %}