{% extends "base.html" %}

{% block title %}Form{% endblock %}

{% block content %}

<div class="grid-container">
  <div class="side-paragraph">
    <h1 style="color: rgb(19, 19, 157);">Introduction</h1>
    In today's digitally connected world, the need for efficient and reliable data collection systems is more critical
    than ever, especially in understanding key socio-economic indicators like literacy levels, employment status, and
    migration patterns. Data collection software is a computerised system for the collection and storage of qualitative
    and quantitative data in an electronic form.The benefits of using data collection systems is that they eliminate the
    use of paper surveys and allow data to be quickly exported for data analysis and reporting. [1]
    <br /><br />

    Focusing specifically on literacy and employment, and whether individuals have migrated abroad from a certain area,
    a
    digital data collection system offers a streamlined approach to gathering and analyzing pertinent information. [2]
    This introduction aims to provide an overview of a digital data collection system tailored to capturing data related
    to literacy, employment, and migration status in a specific geographical area. By harnessing the power of digital
    technologies, this system facilitates the collection, management, and analysis of data with greater accuracy,
    efficiency,
    and accessibility.
    <br /><br />
    In the conclusion, the significance of such a system lies in its ability to inform policy decisions, interventions,
    and research efforts aimed at addressing disparities in literacy levels, unemployment rates, and migration trends.
    By collecting data in a digital format, this system offers advantages such as real-time data capture, increased
    accessibility, and streamlined data management processes. Overall, data from the field is transmitted to a
    server/remote
    location (manually or electronically) and can be made available in aggregate tables and customized reports can be
    generated
    for analysis and sharing.
    <br /><br />
    <h2 style="color: rgb(19, 19, 157);">Problem Statement</h2>
    <p>
      Traditional municipal governments often struggle with inefficiencies and insufficient citizen engagement,
      hindering their ability to meet the evolving needs of communities in the digital age. Manual processes,
      Data loss and Lack of data filtration contribute to bureaucratic red tape and disparities in service delivery.
      Key challenges facing municipalities include:

    <p class="list">
    <ol>
      <li>
        Manual and Inefficient Processes:
      </li>
      Traditional data collection often rely on outdated, paper-based processes that are time-consuming and prone to
      errors.
      Manual workflows hinder operational efficiency, leading to delays in service delivery, permit processing, and
      administrative tasks.
      <li>
        Data loss:
      </li>
      Since all record are being kept in paper files, they are easily damageable than in comparison to digital copy.
      <li>Lack of data filtration:</li>
      When records are kept manually via hand, they are very hard to filter out but in digitalized system it is easier
      and faster.

    </ol>
    </p>
    </p>
    <h2 style="color: rgb(19, 19, 157);">Objectives</h2>
    <ol class="objectives">
      <li>To make it easier to know literacy and employment rate of municipality.
      </li>
      <li>
        To make data digitalized for future use.

      </li>
      <li>
        To provide data for future program planning for improving living standard.
      </li>
    </ol>
  </div>
</div>
{% endblock %}