<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message</title>
</head>
<body>
    
    <form action="/messagesubmit" method="post">
        <label>Subject</label>
        <input type="text" name="subject" id="subject">
        <label>Message</label>
        <textarea id="message" name="message" rows="4" cols="50" placeholder="Enter your message here..."></textarea>
        <input type="submit" value="Submit">
    </form>
</body>
</html>