<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="static/dataview.css">
    <script src="static/hompage.js">  </script>


    <title>List View</title>
</head>
<body>
    <header id="header">
        <div class="nav-container">
          <div class="logo">
            <h1>DataSys</h1>
          </div>
          <nav>
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="menu-icon"><i class="fa fa-bars"></i></label>
            <div class="menu">
                <a href="/home">Home</a>
              {% if role == 'admin' %}
              <a href="/intro">Intro</a>
              <a href="/userlist">Users</a>
              <a href="/admin">Data</a>
              <a href="/messageview">Message</a>
              <div class="dropdown">
                <a href="#">Analysis</a>
                <div class="dropdown-content">
                  <a href="/piechart"><strong>Distribution Pie Chart</strong></a>
                  <a href="/reasonpiechart"><strong>Reason Pie Chart</strong></a>
                  <a href="/datasummary"><strong>Data Summary</strong></a>
                </div>
              </div>
              {% endif %}
              {% if role == 'user' %}
              <a href="/data">Data</a>
              <div class="dropdown">
                <a href="#">Services</a>
                <div class="dropdown-content">
                  <a href="/dataform"><strong>Data Form</strong></a>
                </div>
              </div>
              {% endif %}
              <form action="/logout" method="post" class="logout-form">
                <button type="submit" class="button">Logout</button>
              </form>
            </div>
          </nav>
        </div>
      </header>

    <br><br>
    <h1>Data</h1>
    <div class="card-container">
        {% for item in items %}
            <div class="card">
                <h2>{{ item[2] }}</h2>
                <p><strong>Message:</strong> {{ item[1] }}</p>
            </div>
        {% endfor %}
    </div>

<h2>Total no of data={{total}}</h2>
</body>
</html>