<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User Role</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='updaterole.css') }}">
    <script src="static/hompage.js">  </script>


</head>
<body>
    <div id="header">
        <button class="button"><a href="/home">Home</a></button>
        <a href="/intro">Introduction</a>
        {% if role == 'admin' %}
            <a href="/userlist">Users</a>
            <a href="/admin">Data</a>
            <div class="services">
                <a href="#">Analysis</a>
                <div class="services-content">
                    <a href="/educationpiechart"><strong>Education Pie Chart</strong></a>
                </div>
            </div>
        {% endif %}
        <div class="services">
            <a href="#">Contact Us</a>
            <div class="services-content">
                <p onclick="phone()"><i class="fa-solid fa-phone" style="color: #63E6BE;"></i> <b>9845256525</b></p>
                <p onclick="mail()"><i class="fa-solid fa-envelope" style="color: #74C0FC;"></i> <b>example@.com</b></p>
                <p onclick="facebook()"><i class="fa-brands fa-facebook" style="color: #74C0FC;"></i> <b>Facebook</b></p>
            </div>
        </div>
        {% if role == 'user' %}
            <a href="/data">Data</a>
            <div class="services">
                <a href="#">Services</a>
                <div class="services-content">
                    <a href="/dataform"><strong>Data Form</strong></a>
                </div>
            </div>
        {% endif %}
    </div>
    <br><br>
    <h1 style="text-align: center;"><a href="/home">Home</a></h1>
    <h1>Update Role for {{ email }}</h1>
    <form action="{{ url_for('updateuserrole', item_id=email) }}" method="post">
        <label for="role">Role:</label>
        <Select id="role" name="role">
            <option value="admin">Admin</option>
            <option value="user">User</option>
        </Select>
        <button type="submit">Update</button>
    </form>
</body>
</html>
