{% extends "base.html" %}

{% block title %}Form{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='dataform.css') }}">
<br><br>
<div class="body-content">
    <form method="POST">
        <div class="container">
            <div class="hero">
                <div class="logo">
                    <img src="../static/LOGO.png" alt="logo" height="150px" width="auto" />
                </div>
                <div class="head">
                    <h1>Detail Update Form</h1>
                </div>
            </div>
            <label for="formdate">Form Date:</label>
            {{ item[8] }}<br><br>
            <label for="name">Full Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter full name" value="{{ item[1] }}"
                required><br><br>
            <label for="fathername">Father's Name:</label>
            <input type="text" id="fathername" name="fathername" placeholder="Enter father's full name"
                value="{{ item[3] }}" required><br><br>
            <label for="mothername">Mother's Name:</label>
            <input type="text" id="mothername" name="mothername" placeholder="Enter mother's full name"
                value="{{ item[2] }}" required><br><br>
            <label for="grandfathername">Grandfather's Name:</label>
            <input type="text" id="grandfathername" name="grandfathername" placeholder="Enter grandfather's full name"
                value="{{ item[4] }}" required><br><br>
            <label>Phone no:</label><br>
            <input type="number" name="phone_no" maxlength="10" minlength="10"placeholder="Enter phone n0" value="{{ item[15] }}" required><br><br>
            <label for="gender">Gender:</label><br>
            <input type="radio" id="male" name="gender" value="Male" {% if item[6]=='Male' %} checked {% endif %}
                required>
            <label for="male">Male</label>
            <input type="radio" id="female" name="gender" value="Female" {% if item[6]=='Female' %} checked {% endif %}
                required>
            <label for="female">Female</label><br><br>
            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob" value="{{ item[5] }}" required><br><br>
            <label for="education">Education:</label>
            <select id="education" name="education">
                <option value="Illiterate" {% if item[8]=="Illiterate" %} selected {% endif %}>Illiterate</option>
                <option value="General read and write" {% if item[8]=="General read and write" %} selected {% endif %}>
                    General Read and Write</option>
                <option value="Under 10 class" {% if item[8]=="Under 10 class" %} selected {% endif %}>Under 10 class
                </option>
                <option value="SEE" {% if item[8]=="SEE" %} selected {% endif %}>SEE</option>
                <option value="+2" {% if item[8]=="+2" %} selected {% endif %}>+2</option>
                <option value="Bachelor" {% if item[8]=="Bachelor" %} selected {% endif %}>Bachelor</option>
                <option value="Master" {% if item[8]=="Master" %} selected {% endif %}>Master</option>
            </select><br><br>
            <div id="reason-uneducation-container">
                <label for="reason_for_uneducation">Reason for Uneducation:</label>
                <select id="reason_for_uneducation" name="reason_for_uneducation">
                    <option value="Poverty" {% if item[12]=="Poverty" %} selected {% endif %}>Poverty</option>
                    <option value="Lack of access" {% if item[12]=="Lack of access" %} selected {% endif %}>Lack of
                        Access to Schools</option>
                    <option value="Cultural reasons" {% if item[12]=="Cultural reasons" %} selected {% endif %}>Cultural
                        Reasons</option>
                    <option value="Other" {% if item[12]=="Other" %} selected {% endif %}>Other</option>
                </select>
            </div><br><br>
            <label for="employed">Employed:</label><br>
            <input type="radio" id="employed-yes" name="employed" value="Employed" {% if item[9]=='Employed' %} checked
                {% endif %} required>
            <label for="employed-yes">Yes</label>
            <input type="radio" id="employed-no" name="employed" value="Unemployed" {% if item[9]=='Unemployed' %}
                checked {% endif %} required>
            <label for="employed-no">No</label><br><br>
            <div id="reason-container">
                <label for="reason_for_unemployment">Reason for Unemployment:</label>
                <select id="reason_for_unemployment" name="reason_for_unemployment">
                    <option value="Corruption" {% if item[11]=="Corruption" %} selected {% endif %}>Corruption</option>
                    <option value="Lack of opportunity" {% if item[11]=="Lack of opportunity" %} selected {% endif %}>
                        Lack of opportunity</option>
                    <option value="Lack of skill and education" {% if item[11]=="Lack of skill and education" %}
                        selected {% endif %}>Lack of skill and education</option>
                    <option value="Low salary" {% if item[11]=="Low salary" %} selected {% endif %}>Low salary</option>
                    <option value="Other" {% if item[11]=="Other" %} selected {% endif %}>Other</option>
                </select>
            </div><br><br>
            <label for="abroad">Abroad:</label><br>
            <input type="radio" id="abroad-yes" name="abroad" value="Yes" {% if item[10]=='Yes' %} checked {% endif %}
                required>
            <label for="abroad-yes">Yes</label>
            <input type="radio" id="abroad-no" name="abroad" value="No" {% if item[10]=='No' %} checked {% endif %}
                required>
            <label for="abroad-no">No</label><br><br>
            <div id="reason-abroad-container">
                <label for="reason_for_abroad">Reason for Going Abroad:</label>
                <select id="reason_for_abroad" name="reason_for_abroad">
                    <option value="Financial Condition" {% if item[13]=="Financial Condition" %} selected {% endif %}>
                        Financial Condition</option>
                    <option value="Lack of opportunity" {% if item[13]=="Lack of opportunity" %} selected {% endif %}>
                        Lack of opportunity</option>
                    <option value="Lack of infrastructure" {% if item[13]=="Lack of infrastructure" %} selected {% endif
                        %}>Lack of infrastructure</option>
                    <option value="Low salary" {% if item[13]=="Low salary" %} selected {% endif %}>Low salary</option>
                    <option value="Other" {% if item[13]=="Other" %} selected {% endif %}>Other</option>
                </select>
            </div><br><br>
            <div class="btn">
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>

{% endblock %}